h1 {
font-size: 40pt;
color: #562145;
margin-top: 30px;
text-decoration: underline;
text-transform: uppercase;
font-style: italic;
}

body{
height: 600px;
width: 700px;
border: 6px navy double;
border-color: orange;
border-width: 20px;
border-style: ridge;
margin: 50px;
margin-top: 10px;
padding: 40px;
padding-top: 10px;
}

div{
color: brown;
font-size: 14pt;
text-align: justify;
text-indent: 40px;
font-family: Helvetica, sans-serif;
}

a{
text-decoration: none;
font-size: 14pt;
}